.container-fluid{
   background-color: black;
   

}
#firstRow{
   color: white;
}
.border{
    background-color: blue;
    
    
}
.col{
   
    font-size: larger;
}
#secondRow{
    color: white;
}
col{
   
}
col{
   
}
#rating{
   
}
#genre{
   
}
#image{
   
}
#trivia{
   
}
#plot{}
#review{}
#cast{}
#director{}
