.row{
    font-size: large;
    color: blueviolet;
}
.Trivia{
    width: 1000px;
    border: 15px lightgoldenrodyellow;
    padding: 50px;
    background-color: palegreen;
    float: right;
    color: darkslateblue;
    
}
/* .leftTrivia{
    float: left;
} */
.rightTrivia{
    float: right;
}
.movietitle{
    text-transform: capitalize;
}
.rating{
    color: darkred;
}
